.title-and-form {
    margin-top: 40px;
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    max-width: 1100px;

    p {
        font-style: oblique;
        font-weight:bold;
    }

    .separador {
        border-bottom-width: 1px;
        border-bottom-color: #000000;
        border-bottom-style: dotted;
        margin: 10px 0;
    }


    .checkbox {
        margin-top: 15px;
        margin-left: 65px;
    }

    .contenedor-registrarme {
        margin-top: 30px;

        .boton-registrarme {
            font-family: 'Montserrat', sans-serif;
            font-size: 110%;
            color: #ffffff;
            height: 40px;
            border: none;
            border-radius: 3px 3px 3px 3px;
            -moz-border-radius: 3px 3px 3px 3px;
            -webkit-border-radius: 3px 3px 3px 3px;
            background-color: #000000;

            &:hover {
                background-color: #fff955dd;
                color: #000000;
            }
        }
    }
}