* {
    margin: 0 auto;
    list-style: none;
    box-sizing: border-box;
}

ul {
    list-style: none;
    padding-inline-start: 0;
}

a {
    text-decoration: none;
}

.general {
    background: linear-gradient(to right, rgb(255, 200, 73) 6%,
    rgb(255, 156, 51) 50%, rgb(255, 200, 73) 94%);
    min-height: 100vh; /* Footer siempre abajo de todo*/
}
